DATABASE_URL="postgresql://<user>:<password>@<host>:<port>/<database>?schema=public"

JWT_SECRET=your_super_secret_jwt_key

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GOOGLE_MAPS_API_KEY=

FCM_SERVICE_ACCOUNT_JSON=

# Auto verification

USER_AUTO_VERIFY_CONFIDENCE_THRESHOLD=75
DRIVER_AUTO_VERIFY_CONFIDENCE_THRESHOLD=75
AUTO_VERIFY_FACE_THRESHOLD=75
FACE_API_KEY=
FACE_API_SECRET=
FACE_DRIVER_KEY=
FACE_DRIVER_SECRET=
FACE_DRIVER_THRESHOLD=80
FACE_API_DISABLE_PROXY=true

ADMIN_EMAIL=admin@example.com
ADMIN_USERNAME=admin123
ADMIN_PASSWORD=123456789
ADMIN_FIRST_NAME=System
ADMIN_LAST_NAME=Administrator
